body {
  background-color: firebrick;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #291d1d;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  flex : 1;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color : #c9bebd
}
.task_input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #c9bebd;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}
.task_input_edit {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #c9bebd;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  margin-top: 10px;
}
.task_button {
  padding : 14px 14px 14px 14px
}
.task_button_edit { 
  padding : 14px 7px 14px 7px
}
.task {
  background-color: #45302f;
  padding: 5px;
  margin : 20px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex : 1;
  justify-content: space-between;
}
.task:hover {
  background-color: #afc9c9;
}
.textTask {
  display: flex;
  font-size: 20px;
  text-align: justify;
  flex-direction: column;
  flex : 0.9;
  max-width: 350px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
.taskComplete {
  display: flex;
  font-size: 20px;
  text-align: justify;
  flex-direction: column;
  flex : 0.9;
  text-decoration-line: line-through;
  color : green;
  max-width: 350px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
.doneIcon {
  margin-left: 10px;
  font-size: 24px;
  color : green
}
.removeIcon {
  margin-right: 10px;
  font-size: 24px;
  color : #f50a3595;
}
.editIcon {
  color : dodgerblue;
  font-size : 24px
}
.pare {
  display: flex;
  flex-direction: row;
}
.chil {
  background-color: dodgerblue;
  margin : 10px;
  width: 520px;
  height: 40px;
}
.chil:hover {
  background-color: #afc9c9;
}